<%# we can use partials where ever we want %>
<header>
    <nav>
      <a href="/riders">Car Pool</a>
      <ul>
        <li><a href="/riders">Riders</a></li>
        <li><a href="/riders/new">Add Rider</a></li>
      </ul>
    </nav>
  </header>