<%# we can use partials where ever we want %>
<header>
    <nav>
      <a href="/rides">Car Pool</a>
      <ul>
        <li><a href="/rides">Rides</a></li>
        <li><a href="/rides/new">Add Ride</a></li>
      </ul>
    </nav>
  </header>