<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carpool</title>
</head>
<body>
  <!-- Before -->
  <!-- this is taking up the body of index.ejs because of the routes -->

  <%- include('../../partials/header.ejs') %>
  <%- include('../../partials/errorMessage.ejs') %>

  <%# this renders the body - dynamic %>

  <%- body %>

  <!-- After -->
</body>
</html>
