<!DOCTYPE html>
<html>
    <head>
        <title>Dev Info</title>
        <link rel="stylesheet" href="infostyle.css">
    </head>
    <body>
        <form class="bigBox" action="info.html" method="post">
            <h1>Developer Team&emsp;<img style="vertical-align: middle" src="https://upload.wikimedia.org/wikipedia/commons/0/06/UMass_Amherst_Athletics_logo.svg" height="115" width="115"></h1>
        </form>
        <form class="box" action="info.html" method="post">
                <h3>Aryan Singh</h1>
                <p>Email: aryansingh@umass.edu</p>
                <br>
                <h3>Yefim Shneyderman</h1>
                <p>Email: yshneyderman@umass.edu</p>
                <br>
                <h3>Ron Arbo</h1>
                <p>Email: rarbo@umass.edu</p>
            </form>
        
    </body>
</html>