<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <form class="box" action="rides" method="POST">
            <h1>Umass Carpool</h1>
            <br>
            <input type="text" name="Username" placeholder="Username">
            <br><br>
            <input type="password" name="Password" placeholder="Password">
            <br><br>
            <button>Submit</button>            
            <br><br><br>
            <p>Questions?</p><a href="about" target="_blank">Ask Us</a>
        </form>
    </body>
</html>
