<h2>Search Riders</h2>
<form action="/riders" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% riders.forEach(rider => { %>
  <div><%= rider.name %></div>
<% }) %> 